{port_specs, [{"priv/libconsensus_nif.so",["c_src/libconsensus_nif.c"]}]}.

{port_env, [{"CC", "g++"},
            {"DRV_CFLAGS",  "$DRV_CFLAGS -I c_src/secp256k1 -I c_src/secp256k1/src -I c_src/secp256k1/include -I c_src/libbitcoin-consensus/src/clone/ -I c_src/libbitcoin-consensus -I c_src/libbitcoin-consensus/src -I c_src/libbitcoin-consensus/include -I c_src/libbitcoin-consensus/src/clone/"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -Lc_src/secp256k1/.libs/ -Lc_src/libbitcoin-consensus/src/.libs/"},
            {"(linux|freebsd|solaris)", "LDFLAGS", "$LDFLAGS -Wl,-Bstatic -lbitcoin-consensus -lsecp256k1 -Wl,-Bdynamic -lcrypto -lstdc++ -lgmp"}]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.
{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
