{port_specs, [{"priv/libconsensus_nif.so",["c_src/libconsensus_nif.c"]}]}.

{port_env, [{"CC", "g++"},
            {"DRV_CFLAGS",  "$DRV_CFLAGS -I c_src/libbitcoin-consensus -I c_src/libbitcoin-consensus/src -I c_src/libbitcoin-consensus/include -I c_src/libbitcoin-consensus/src/clone/"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/libbitcoin-consensus/src/.libs/libbitcoin-consensus.a -lcrypto"},
            {"(linux|freebsd|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.
{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
